<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Python Flask Vuejs Mysql</title>
  </head>

  <body>
    <h2>Gasoline Car Carbon CO2 Emission Facts</h2>
    
      

      <div
        class="chart-container"
        style="position: relative; 
        height: 60vh; width: 65vw"
      >
        <canvas id="myChart" chart-click="ctrl.onClick"></canvas>
      </div>
      <div class="text-area">
      <h2>Low-carbon transport advice</h2>
       <p>1.Walk or ride a bike. For short trips, walking or biking is the most environmentally friendly and healthy option.</p>
       <p>2.Use public transportation. Choosing public transportation such as buses, trains, and subways can reduce carbon emissions from driving alone.</p>
       <p>3.Carpool or use bike-sharing. Carpooling with friends or colleagues, or renting bike-sharing services can reduce personal carbon emissions.</p>
       <p>4.Drive low-emission vehicles. Choose low-emission or zero-emission vehicles such as hybrid, electric, or hydrogen fuel cell vehicles.</p>
      </div>
      <div class="selectBox" id="vuejscrudapp">
        <div class="selector">
          <select id="updateid">
            <option value="">Select brand</option>
            <option v-for="(item, i) in records" :key="item.id">
              {{ item.Make }}
            </option>
          </select>
        </div>
      <div class="pieChart">
        <!-- <label for="">Pie chart</label> -->
        <h2>Gasoline Car Carbon CO2 Emission Pie Chart</h2>
        <div id="chartdiv"></div>
      </div>
      
      
      
      

      <!-- <div id='myDiv'>Plotly chart will be drawn inside this DIV</div> -->

      <!-- <h2>CO2 Emissions Data</h2> -->
      <!-- <ul>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Make</th>
                  <th>CO2 Emissions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, i) in records" :key="item.id">
                  <td>{{i + 1}}</td>
                  <td>{{item.Make}}</td>
                  <td>{{item.CO2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ul> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- BootstrapVue js -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-bundle.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <!-- Resources -->
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/plugins/sunburst.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
        
    <script>
      var app = new Vue({
        el: "#vuejscrudapp",
        data: {
          records: [],
          message: "",
          records1: [],
        },

        methods: {
          getRecords() {
            axios({
              url: "https://backendtp23.onrender.com/mysql1",
              method: "get",
            })
              .then((res) => {
                this.records = res.data;

                // console.log(this.records);

                this.file = JSON.parse(JSON.stringify(this.records));

                labels = [];
                data = [];

                for (i in this.file) {
                  labels.push(this.file[i]["Make"]);
                  data.push(this.file[i]["CO2"]);
                }

                const ctx = document.getElementById("myChart");

                backgroundColor = [];

                for (i in labels) {
                  backgroundColor.push("rgba(54,162,235,0.4)");
                }

                myChart = new Chart(ctx, {
                  type: "bar",
                  data: {
                    labels: labels,
                    datasets: [
                      {
                        label: "Number of Co2 per km",
                        data: data,
                        borderWidth: 1,
                        fill: false,
                        hoverBackgroundColor: "rgba(54,162,235,0.6)",
                        hoverBorderColor: "blue",
                        backgroundColor: backgroundColor,
                        datalabels: {
                          color: "#333333",
                          anchor: "end",
                          align: "top",
                          rotation: -45,
                        },
                      },
                    ],
                  },
                  plugins: [ChartDataLabels],
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true,
                      },
                    },
                  },
                });

                const box = document.getElementById("updateid");

                box.onchange = function () {
                  for (i in labels) {
                    myChart.data.datasets[0].backgroundColor[i] =
                      "rgba(54,162,235,0.4)";
                  }

                  // console.log(box.value);

                  count = 0;
                  for (i in labels) {
                    if (labels[i] === box.value) {
                      count = count + parseInt(i);
                    }
                  }

                  // console.log(count);

                  myChart.data.datasets[0].backgroundColor[count] =
                    "rgba(90,162,235,1.3)";
                  myChart.update();

                  this.message = box.value;

                  axios({
                    url: `https://backendtp23.onrender.com/search?message=${this.message}`,
                    method: "get",
                  }).then((res) => {
                    this.records1 = res.data;

                    console.log(this.records1)

                  // cons
                    

                    parents = []
                    childs = []
                    data_sun = []
                    for (i in this.records1){
                      parents.push(this.records1[i]['Model'])
                      childs.push(this.records1[i]['Vehicle Class'])
                      data_sun.push(this.records1[i]['CO2'])
                    }

                    // console.log(parents);
                    // console.log(childs);
                    // console.log(data_sun);

                    // var data = [{
                    //   type: "sunburst",
                    //   id: parents,
                    //   labels: parents,
                    //   parents: childs,
                    //   values:  data_sun,
                    //   outsidetextfont: {size: 20, color: "#377eb8"},
                    //   leaf: {opacity: 0.4},
                    //   marker: {line: {width: 2}},
                    // }];

                    // var layout = {
                    //   margin: {l: 0, r: 0, b: 0, t: 0},
                    //   width: 500,
                    //   height: 500
                    // };

                    // var data = [{
                    //       "name": "jim",
                    //       "color": "blue",
                    //       "age": "22"
                    //     }, {
                    //       "name": "Sam",
                    //       "color": "blue",
                    //       "age": "33"
                    //     }, {
                    //       "name": "eddie",
                    //       "color": "green",
                    //       "age": "77"
                    //     }];

                        result_sun = 
                          _.chain(this.records1)
                            // Group the elements of Array based on `color` property
                            .groupBy("Vehicle Class")
                            // `key` is group's name (color), `value` is the array of objects
                            .map((value, key) => ({ Model: key, children: value }))
                            .value()
                        


                        am4core.ready(function() {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    // create chart
                    var chart = am4core.create("chartdiv", am4plugins_sunburst.Sunburst);
                    chart.padding(0,0,0,0);
                    chart.radius = am4core.percent(98);

                    chart.data = result_sun

                    chart.colors.step = 2;
                    chart.fontSize = 13;
                    chart.innerRadius = am4core.percent(20);

                    // define data fields
                    chart.dataFields.value = "CO2";
                    chart.dataFields.name = "Model";
                    chart.dataFields.children = "children";


                    var level0SeriesTemplate = new am4plugins_sunburst.SunburstSeries();
                    level0SeriesTemplate.hiddenInLegend = false;
                    chart.seriesTemplates.setKey("0", level0SeriesTemplate)

                    // this makes labels to be hidden if they don't fit
                    level0SeriesTemplate.labels.template.truncate = true;
                    level0SeriesTemplate.labels.template.hideOversized = true;

                    level0SeriesTemplate.labels.template.adapter.add("rotation", function(rotation, target) {
                      target.maxWidth = target.dataItem.slice.radius - target.dataItem.slice.innerRadius - 10;
                      target.maxHeight = Math.abs(target.dataItem.slice.arc * (target.dataItem.slice.innerRadius + target.dataItem.slice.radius) / 2 * am4core.math.RADIANS);

                      return rotation;
                    })


                    var level1SeriesTemplate = level0SeriesTemplate.clone();
                    chart.seriesTemplates.setKey("1", level1SeriesTemplate)
                    level1SeriesTemplate.fillOpacity = 0.75;
                    level1SeriesTemplate.hiddenInLegend = true;

                    var level2SeriesTemplate = level0SeriesTemplate.clone();
                    chart.seriesTemplates.setKey("2", level2SeriesTemplate)
                    level2SeriesTemplate.fillOpacity = 0.5;
                    level2SeriesTemplate.hiddenInLegend = true;

                    chart.legend = new am4charts.Legend();


                    //chart.radius = am4core.percent(50)
                    chart.hiddenState.properties.radius = am4core.percent(50)

                    level0SeriesTemplate.endAngle = 270;
                    level0SeriesTemplate.hiddenState.properties.endAngle = -90;
                                        });

                    

                    
                    });

                    console.log(document.getElementById("myChart"))



                    // sunburst graph
                    
                    


                  
                };





                // this.file = JSON.parse(JSON.stringify(this.records))

                // console.log(this.records)

                // this.labels = []
                // this.data = []

                // for (i in this.file){
                //   this.labels.push(this.file[i]['Make'])
                //   this.data.push(this.file[i]['CO2'])
                // }

                // console.log(Chart.data.datasets)

                // function Updatechart(){
                //   d = document.getElementById("update_id").value;
                //   console.log(d)
                // }
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },

        mounted: function () {
          this.getRecords();
        },
      });
      
    </script>
  </body>
</html>
